# Base Model API Key for Innoeval
# Copy this file to LLM.env and fill in your API keys

# Base Model API Key for Innoeval
OPENAI_API_KEY=
OPENAI_API_BASE_URL=
DS_API_KEY=
DS_API_BASE_URL=

# Search engine api key
GOOGLE_API_KEY=
SERPER_KEY_ID=
SERP_API_KEY=
GITHUB_AI_TOKEN=
KAGGLE_CONFIG_DIR=
JINA_API_KEY=
S2_API_KEY=

DEEPSEEK_API_KEY=
DEEPSEEK_BASE_URL=
SERPER_API_KEY=
DEEPSEEK_MODEL=
ARXIV_HTTP_PROXY=

GH_TOKEN=